<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 
  body
    if username
      h1.
        welcome, #{username}!
    else
      h1.
        Well, you have not login
      a(href="/login") login
      hr
      a(href="/register") register