<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block  title
      title midu
    block css
      link(rel="stylesheet", href="./lib/bootstrap/bootstrap.min.css")
      link(rel="stylesheet", href="./css/common.css")
  body
    block header
    block main
    block footer
    block js