footer.container-fluid
  .row.no-gutter.content
    .col-12.col-sm-6
      .contact
        div &copy; 2014 &#x7248;&#x6743;&#x6240;&#x6709; &#x7C73;&#x5EA6;&#xFF08;&#x5317;&#x4EAC;&#xFF09;&#x79D1;&#x6280;&#x6709;&#x9650;&#x516C;&#x53F8;&#x4EAC;ICP&#x5907;11019727&#x53F7;
        hr
        div
          a(href='') &#x8054;&#x7CFB;&#x6211;&#x4EEC;
          | (&#x5317;&#x4EAC;&#x603B;&#x90E8;&#xFF0C;&#x957F;&#x6C99;&#x5206;&#x90E8;&#xFF09;
          a(href='') &#x5173;&#x4E8E;&#x6211;&#x4EEC; 
          a(href='') &#x7C73;&#x5EA6;&#x62DB;&#x8058; 
        div &#x516C;&#x53F8;&#x5730;&#x5740;&#xFF1A;&#x5317;&#x4EAC;&#x671D;&#x9633;&#x533A;&#x5EFA;&#x56FD;&#x8DEF;93&#x53F7;&#x4E07;&#x8FBE;&#x5E7F;&#x573A;1&#x53F7;&#x697C;
        div &#x7535;&#x8BDD;&#xFF1A;010-57791647
    .col-12.col-sm-6.d-flex.qrcode
      img(src='../img/qrcode.png')
