header.head.container-fluid
  nav.content.row
    .col-12.d-flex
      .brand
        a(href='#') MIDU
        span &#x7C73;&#x5EA6;&#x79D1;&#x6280;
      .links
        a#waibao.link(href='/Outsource-service.html') midu &#x5916;&#x5305;&#x670D;&#x52A1;
        a#product.link(href='/midu-product.html') midu &#x4EA7;&#x54C1;
        a#app.link(href='/APP-Outsource.html') midu APP+
        a#academy.link(href='/midu-school.html') midu &#x5B66;&#x9662;
