extends base

block title
  title welcome

block append css
  link(rel="stylesheet", href="./css/welcome.css")

block header
  include header

block main
  .container-fluid.main
    .render
    .content
      h1 Welcome
      p 欢迎您，来到移动互动互联网世界…
      img(src="../img/welcome.png", alt="")
